html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my code goes here */
body{
    font-family: sans-serif;
}

/* NAVBAR SECTION ======== */
.navbar{
    /* positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    height: 80px;
    font-size: 1.2rem;
    background-color: #111;

}

.nav_container{
    /* positioning */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.navbar_logo{
    /* positioning */
    font-size: 2rem;
    display: flex;
    align-items: center;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar_menu{
    /* positioning */
    display: flex;
    align-items: center;
}

.navbar_item{
    /* positioning */
    width: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_menu a{
    text-decoration: none;
    color: white;
}

.navbar_item a:hover{
    color: #FF0080;
    transition: .2s all ease;

}
.navbar_btn{
    /* positioning */
    padding: 0 1rem;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border-radius: 4px;    
}

.navbar_btn .button{
    /* positioning */
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar screen breakpoint */
@media screen and (max-width:960px){

    .nav_container{
        display: flex;
        align-items: center;
    }

    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        width: 100%;
        left: 0;
        margin: 0;
        height: 66vh;
        z-index: -1;
        opacity: 1;
        top: -1000px;
        font-size: 1.6rem;
        transition: .3s all ease;
    }

    .navbar_item{
        width: 100%;
    }

    .navbar_menu a{
        text-decoration: none;
        color: white;
    }

    .navbar_btn{
        width: 60vw;
        margin: 0 auto;
        padding: 20px;
        border-radius: 4px;
        background: #40E0D0;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              
    }

    .navbar_menu.active{
        top: 80px;
        z-index: 999;
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        width: 100%;
        left: 0;
        margin: 0;
        height: 66vh;
        background-color: #111;
        opacity: 1;
        transition: .3s all ease;
    }

    .navbar_toggle{
        width: 40px;
        height: fit-content;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
        background-color: white;
        height: 5px;
        width: 100;
        transition: .3s all ease;
    }

    .navbar_toggle .bar.firstChild{
        transform-origin: left;
        width: 35px;
        transform: rotate(43deg);
        position: relative;
        z-index: 9999;
    }

    .navbar_toggle .bar.thirdChild{
        transform-origin: left;
        width: 35px;
        transform: rotate(-43deg);
        position: relative;
        z-index: 9999;
    }

    .navbar_toggle .bar.secondChild{
        display: none;
    }
}


/* HERO SECTION */
.hero{
    /* positioning */
    background-image: linear-gradient(to right, #111, #000);
    color: white;
    padding: 200px 0;
}

.hero_container{
    /* positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.hero_heading{
    /* positioning */
    font-size: 100px;
    margin-bottom: 24px;
    font-weight: bold;
}

.hero_heading span{
    /* styling */
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero_description{
    /* positioning */
    font-size: 60px;
    margin: 24px 0;

    /* styling */
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .hero_heading{
        font-size: 69px;
    }

    .hero_description{
        font-size: 40px;
    }
}


/* ABOUT SECTION */
.main{
    background-color: #111;
    padding: 10rem 0;
}

.main_container{
    /* positioning */
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 50px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 1400px;
}

.main_content h1{
    font-size: 2rem;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: bold;

    /* styling */
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main_content h2{
    font-size: 4rem;
    margin: 20px 0;
    font-weight: bold;

    /* styling */
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.main_content p{
    font-size: 2rem;
    margin: 50px 0;
    margin-top: 20px;
}

.main_img_container{
    /* positioning */
    height: 500px;
    width: 500px;
    background-color: #3F5EFB;
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    font-size: 10rem;
    border-radius: 4px;
    font-family: nunito;
    font-weight: 900;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.main_btn{
    /* styling */
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1.5rem 5rem;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.main_btn a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    position: relative;
    z-index: 2;
}

.main_btn::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    transition: .3s all ease;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main_btn:hover{
    color: white;
}

.main_btn:hover::after{
    z-index: 1;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .main_container {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 0 50px;
    }

    .main_img_container{
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }

    .main_content h1{
        margin: 40px 0;
        /* font-size: 1.5rem; */
    }

    .main_content h2{
        font-size: 3rem;
    }

    .main_content p{
        font-size: 1.5rem;
        margin: 20px 0;
    }
}


/* SERVICES SECTION */
.services{
    /* positioning */
    background-color: #111;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 10rem;
}

.services_wrapper{
    /* positioning */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.services_card{
    /* positioning */
    width: 300px;
    height: 425px;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1300px){
    .services_wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px){
    .services_wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 60%;
        min-width: 350px;

    }

    .services_card{
        width: 100%;
    }
}